{% extends "base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/login.css{% endblock %}
{% block bodyclass %}login{% endblock %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block branding %}
<h1 id="site-name">Compte activé</h1>
{% endblock %}

{% block content %}
<div class="row-fluid"><div class="span12"></div></div>
<div class="row-fluid">
<div class="span12">
{% if account %}

Congratulations!
<div class="row-fluid"><div class="span12"></div></div>

You account is now activated.

You now have access to <a href="/myaccount/">your personal page</a>.


{% else %}

Bad identification!
<div class="row-fluid"><div class="span12"></div></div>

Either this key is invalid, or the account has already been activated.

{% endif%}

<div class="row-fluid"><div class="span12"></div></div>
greetings,
<div class="row-fluid"><div class="span12"></div></div>
Colibri team
</div>
</div>
{% endblock %}
