{% extends "base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/login.css{% endblock %}
{% block bodyclass %}login{% endblock %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block title%}Password reset complete!{% endblock %}

{% block content %}

<h1> Password reset complete!</h1>
<div class="row-fluid"><div class="span12"></div></div>

<div id="content-main">

Your password has been changed successfully, you can now connect using your
new password!

</div>
{% endblock %}
