{% extends "base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/login.css{% endblock %}
{% block bodyclass %}login{% endblock %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block title%}Password reset{% endblock %}

{% block content %}

<h1> Password reset </h1>
<br/>

<div id="content-main">


Forgotten your password?<br/>
Enter your e-mail address below, and we'll e-mail
instructions for setting a new one.

<br/>
<br/>

<form action="{{ app_path }}" method="post" id="login-form"> {% csrf_token %}
  <div class="form-row">
    {{ form }}
  </div>
<br/>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Reset my password' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_email').focus()
</script>
</div>
{% endblock %}
