{% extends "base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/login.css{% endblock %}
{% block bodyclass %}login{% endblock %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block title%}Mail sent for password reset{% endblock %}

{% block content %}

<h1>Mail sent for password reset</h1>
<div class="row-fluid"><div class="span12"></div></div>

<div id="content-main" class="row-fluid">
<div class="span12">
We've e-mailed you instructions for setting your password to the e-mail
address you submitted. You should be receiving it shortly.
</div>
</div>
{% endblock %}
