{% extends "base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/login.css{% endblock %}
{% block bodyclass %}login{% endblock %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block title%}Enter new password{% endblock %}

{% block content %}

<h1>Enter new password</h1>
<div class="row-fluid"><div class="span12"></div></div>
<div id="content-main">

{% if not validlink %}
<p> <font color=red>
Your email and password didn't match. Please try again.
</font> </p>
{% else %}


Please enter your new password twice so we can verify you typed it in
correctly.
<div class="row-fluid"><div class="span12"></div></div>

<form action="{{ app_path }}" method="post"> {% csrf_token %}
  {{ form.as_p }} 
  <div class="row-fluid"><div class="span12"></div></div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Change my password' %}" />
  </div>
</form>

{% endif %}

</div>
{% endblock %}
