{% load i18n %}
{% trans "You're receiving this e-mail because you requested a password reset" %}
{% blocktrans %}for your user account at {{ site_name }}{% endblocktrans %}.

{% blocktrans %}Please click on this link to reset your password:{% endblocktrans %}

{{protocol}}://{{domain}}/accounts/password/reset/confirm/{{uid}}-{{token}}/

{% trans "Your are registered using the following email address:" %} {{ user.email}}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
