{% extends "base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/login.css{% endblock %}
{% block bodyclass %}login{% endblock %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block branding %}
<h1 id="site-name">Confirmation email sent!</h1>
{% endblock %}


{% block content %}

<br/>
<br/>

We've sent you an activation email. In the email you'll find a link that
when clicked will activate your account.

If for some reason you do not receive the activation email within 24 hours,
contact us, and we'll do our best to get you back on track.

<br/>
<br/>
greetings,
<br/>
Colibri team

{% endblock %}
