{% extends "base_site.html" %}


{% block title %} Colibri Mailing Lists Manager - about {% endblock %}

{% block content %}



<div class="row">
    <div class="span10">
    Colibri Mailing List Manager &copy; Copyright 2008-2013, <a href="http://www.freehackers.org/thomas/free-software/">Thomas Capricelli</a>
    </div> 
</div>

<div class="row">
    <div class="span12 offset1">
    Web page : <a href="http://labs.freehackers.org/projects/colibri/wiki">http://labs.freehackers.org/projects/colibri/wiki</a>
    </div>
</div>

<div class="row">
    <div class="span4 offset2">
        <a href="http://www.djangoproject.com/"><img
src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" alt="Made with Django." title="Made with Django." /></a>
    </div>
    <div class="span4">
       <a href="http://www.python.org/"><img
src="http://www.python.org/community/logos/python-powered-w-100x40.png" alt="Made with Python." title="Made with Python." /></a>
    </div>
</div>
<div class="row">
    <div class="span12 offset5">
        Python version : {{python_version}}
        <div class="row"><div class="span12">&nbsp;&nbsp;&nbsp;&nbsp;Django version : {{django_version}}</div></div>     
    </div>
</div>




{% endblock %}

