{% extends "base_site.html" %}


{% block title %} Colibri Mailing Lists Manager - about {% endblock %}

{% block content %}

<center>

<br/> <br/>
Colibri Mailing List Manager &copy; Copyright 2008-2013, <a href="http://www.freehackers.org/thomas/free-software/">Thomas Capricelli</a>
<br/> <br/>
Web page : <a href="http://labs.freehackers.org/projects/colibri/wiki">http://labs.freehackers.org/projects/colibri/wiki</a>
<br/> <br/>

<a href="http://www.djangoproject.com/"><img
src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif"
border="0" alt="Made with Django." title="Made with Django." /></a>

&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

<a href="http://www.python.org/"><img
src="http://www.python.org/community/logos/python-powered-w-100x40.png"
border="0" alt="Made with Python." title="Made with Python." /></a>

<br/> <br/>
Python version : {{python_version}}
<br/>
Django version : {{django_version}}
</center>

{% endblock %}

