{% extends "base_site.html" %}
{% block title %}Information about list {{list}}{% endblock %}


{% block menu %}
<hr/>
<br/>
{% if can_browse_archive %}
<a href="{% url "main.views.list_archives" list %}">Archives</a><br/>
{% endif %}
{% if can_browse_subscribers %}
<a href="{% url "main.views.list_subscribers" list %}">Subscribers</a><br/>
{% endif %}
{% endblock %}



{% block content %}
<h1> {{list}} </h1>

<div style="padding-left:100px">
    {{list.subject}}
    {% if list.topic.all %}
    <br/>Topic{{list.topic.all.count|pluralize}}:
        {% for t in list.topic.all %}
        <a href="{% url "main.views.display_topic_info" t.name %}">{{t.name}}</a>&nbsp;
        {% endfor %}
    {% endif %}
</div>

<br/>
<hr/> {{list.description|safe}} <hr/>
<br/>
{% if subscription%}
You are subscribed to this list since {{subscription.started.date|date:"D d M Y" }}.
<br/> <br/>

{% ifequal list.owner.user user %}
You can not unsubscribe from a list that belongs to you.
{%else %}
<form action="/list/{{list}}/unsubscribe/" method="POST"> {% csrf_token %}
    <input type="submit" value="Unsubscribe">
{% endifequal %}

</form>
{%else %}
Subscribe to this mailing list <b>now!</b>:
<br/> <br/>
<form action="/list/{{list}}/subscribe/" method="POST"> {% csrf_token %}
{{form.email.errors}}
{% if not profile %} Email: {{ form.email }} {% endif %}
    <input type="submit" value="Subscribe">
</form>

{% endif %}
{% endblock %}


