{% extends "base_site.html" %}
{% block title %}Information about list {{list}}{% endblock %}


{% block menu %}
<hr/>
{% if can_browse_archive %}
<li><a href="{% url "main.views.list_archives" list %}">Archives</a><li>
{% endif %}
{% if can_browse_subscribers %}
<li><a href="{% url "main.views.list_subscribers" list %}">Subscribers</a></li>
{% endif %}
{% endblock %}

{% block content %}
<h1> {{list}} </h1>

<div style="padding-left:100px">
    {{list.subject}}
    {% if list.topic.all %}
    <br>Topic{{list.topic.all.count|pluralize}}:
        {% for t in list.topic.all %}
        <a href="{% url "main.views.display_topic_info" t.name %}">{{t.name}}</a>&nbsp;
        {% endfor %}
    {% endif %}
</div>

<div class="row-fluid"><div class="span12"></div></div>
<hr/> {{list.description|safe}} <hr/>

{% if subscription%}
You are subscribed to this list since {{subscription.started.date|date:"D d M Y" }}.
<div class="row-fluid"><div class="span12"></div></div>

{% ifequal list.owner.user user %}
You can not unsubscribe from a list that belongs to you.
{%else %}
<form action="/list/{{list}}/unsubscribe/" method="POST"> {% csrf_token %}
    <input type="submit" value="Unsubscribe">
{% endifequal %}

</form>
{%else %}
Subscribe to this mailing list <b>now!</b>:
<div class="row-fluid"><div class="span12"></div></div>
<form action="/list/{{list}}/subscribe/" method="POST" class="form-inline"> {% csrf_token %}
{{form.email.errors}}
{% if not profile %} <label class="sr-only" for="id_email">Email:</label> {{ form.email }} {% endif %}
    <input type="submit" value="Subscribe">
</form>

{% endif %}
{% endblock %}


